html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/static/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #f4f4f4;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.content {
    width: 40%;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.settings-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"], input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    width: auto;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.save-button {
    background-color: #28a745;
    color: white;
}

.save-button:hover {
    background-color: #218838;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.settings-form-inline {
    display: inline;
}

.small-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.small-button:hover {
    background-color: #0056b3;
}

.photo-button {
    background-color: lightgray;
    color: black;
}

.photo-button:hover {
    background-color: darkgrey;
}

.delete-button {
    background-color: #dc3545;
    color: white;
}

.delete-button:hover {
    background-color: #c82333;
}
