html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/static/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #f4f4f4;
    font-size: 16px;
}

.content {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.action-button {
    background-color: #00819c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #005e9e;
}

.groups-list {
    background-color: #f4f4f4;
    border-radius: 5px;
}

.group {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.group-form {
    display: flex;
    flex-direction: column;
}

.group-button {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.group-button:hover .group-details {
    background-color: #f0f0f0;
}

.group-details {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-column, .right-column {
    width: 48%;
}

.group-details p {
    margin: 10px 0;
    font-size: 18px;
    width: 48%;
}

.empty-list {
    text-align: center;
    font-size: 2.5em;
    color: #333;
}