html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/static/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #f4f4f4;
    font-size: 16px;
}

.content {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.applications-list {
    background-color: #f4f4f4;
    border-radius: 5px;
}

.application {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.application-info {
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}

.application-info p {
    margin: 10px 0;
    font-size: 18px;
}

.delete-form {
    display: inline;
    position: absolute;
    right: 10px;
    height: 100%;
}

.delete-button {
    background-color: #f44336;
    color: white;
    height: 100%;
    width: 60px;
    border: none;
    /*border-radius: 5px;*/
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-button:hover {
    background-color: #e53935;
}

.delete-button.disabled {
    background-color: grey; !important;
    cursor: not-allowed;
    pointer-events: none;
}

.delete-button i {
    font-size: 20px;
}

.empty-list {
    text-align: center;
    font-size: 2.5em;
    color: #333;
}