html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/static/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #f4f4f4;
    font-size: 16px;
}

.content {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.groups-list {
    background-color: #f4f4f4;
    border-radius: 5px;
}

.group-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.group {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.group-form {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.group-button {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
}

.group-button:hover .group-details {
    background-color: #f0f0f0;
}

.group-details {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}

.left-column {
    width: 100%;
}

.group-details p {
    margin: 10px 0;
    font-size: 18px;
}

.apply-form {
    display: flex;
    align-items: center;
}

.apply-button {
    background-color: #28a745;
    color: white;
    padding: 20px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.apply-button:hover {
    background-color: #218838;
}

.apply-button.disabled {
    background-color: grey; !important;
    cursor: not-allowed;
    pointer-events: none;
}

.empty-list {
    text-align: center;
    font-size: 2.5em;
    color: #333;
}