html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/static/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #f4f4f4;
    font-size: 16px;
}

.content {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.group-details {
    margin-top: 20px;
}

.group-details p {
    margin: 20px 0;
    font-size: 18px;
}

strong {
    font-weight: bold;
}
