body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo img {
    height: 40px;
    border-radius: 50%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.centered-menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-left: 60px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}
